.card-elm {
    font-size: 90px;
    text-align: center;
    border: 1px gray solid;
    background-color: aliceblue;
    height: 70vh;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

button {
    height: 60px;
    width: 100px;
    background-color: rgba(222, 197, 197, 0.412);
    font-size: large;
    font-weight: bold;
}

h1,
h2,
h3 {
    text-align: center;
}

.red {
    color: red;
    font-weight: bolder;
}

a {
    text-align: center;
    font-family: cursive;
    font-size: 16px;
}

a:hover {
    color: rgb(39, 52, 52);
    font-size: 17px;
}

#meaning, #def {
    color: rgb(36, 82, 110);
    font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hidden {
    visibility: hidden;
}

#iraqi-flag {
    width: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.blue {
    color: #2421cf;
}

.yellow {
    color: #e4e143;
}

.red {
    color: red;
}

.green {
    color: green;
}

.orange {
    color: orange;
}

.pink {
    color: pink;
}

.white {
    color: rgb(255, 255, 255);
}

.black {
    color: black;
}

.brown {
    color: brown;
}

.card-elm-c {
    font-size: 90px;
    text-align: center;
    border: 2px rgb(14, 13, 13) solid;
    border-radius: 20px;
    background-color: rgba(117, 158, 156, 0.763);
    height: 70vh;
}